.vscode/**
.vscode-test/**
out/**
node_modules/**
!node_modules/lightningcss/**
!node_modules/lightningcss-*/**
!node_modules/oxc-minify/**
!node_modules/@oxc-minify/**
src/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/.vscode-test.*
.github/**
docs/**
images/*.gif
